body{
    background: -webkit-linear-gradient(45deg, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 31%, rgba(145,232,66,1) 66%, rgba(145,232,66,1) 100%);
}

.container{
  width: 600px;
    margin-top: 100px;
    font-size: 3em;
}

.out{
    margin-bottom: 10px;
    width:100%;
    text-align:center;
    color:#0066FF
}

.myBtn{
    padding:20px 20px;
    font-size: 40px;
    margin-bottom: 10px;
    background-color: #003399;
}
.pass{
    width:310px;
    float:left;
    font-size:30px;
    color:white; 
    margin-top: -110px;
    padding: 20px;
    background-color:#9966CC;
    border-radius: 5px;
}

.in{
    margin-right:30px;
    margin-top:-110px;
    color:#6600FF;
    padding:7px;
    width:150px;
    float:right;
    text-align:center;
}